<h1>Add projects for <%= @employee.name() %> </h1>
<p><a href="/employees/<%= @employee.id() %>/edit">Edit or Delete Information for <%= @employee.name() %></a></p>
<p><a href="/">Return to Main Page</a></p>

<form action="/employees" method="post">
  <input id="employee_id" name="employee_id" type="hidden" value="<%= @employee.id() %>">

  <label for="name">Name of the project:</label>
  <input id="name" name="name" type="text">

  <label for="description">Description of the project:</label>
  <input id="description" name="description" type="text">

  <button class='button' type="submit">Add Project</button>
</form>

<% if @employee.projects().any?() %>
<h3>Projects for <%= @employee.name() %>:</h3>
<h5>Click on the project to edit it's information or remove it from <%= @employee.name() %>'s project list.</h5>

<ul>
  <% @employee.projects().each() do |project| %>
  <li><a href="/projects/<%= project.id() %>"><%= project.name() %>: <%= project.description() %></li>
    <% end %>
  </ul>
  <% else %>
  <p>This employee has no projects!</p>
  <% end %>
